.section {
  padding-top: 120px;
  padding-bottom: 90px;
}
.section-container {
  width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}
.boxs {
  display: flex;
  align-items: center;
}
.youtube iframe {
  width: 500px;
  border-radius: 10px;
}
.wrapper-boxs p{
  margin-right: 30px;
  font-size: 16px;
  line-height: 26px;
  color: #3D9999;
}
.wrapper-boxs h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
.wrapper-boxs a{
  padding: 10px 20px;
  background-color: #3D9999;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}